<body>
	
	<section class="app">
		 <div class="app-title"><img src="https://cdn.pixabay.com/photo/2019/02/19/19/45/thumbs-up-4007573_960_720.png" class="app-title-img" alt="" draggable="false"><div class="app-title-text">Drag the correct answers into <br> their correct boxes</div><img src="https://cdn.pixabay.com/photo/2019/02/19/19/45/thumbs-up-4007573_960_720.png" class="app-title-img2" alt="" draggable="false"></div>
		<div class="app-flexbox">
			<div class="question-cont">
				 <div class="question-cont-section1">
					 <div class="question-wrapper">
					 <div class="question" id="question1"></div>
					 <div class="input-box" id="input-box1"></div>
					 <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt=""class="tick left">
					 <img src="https://cdn.pixabay.com/photo/2013/07/12/12/40/abort-146096_960_720.png" alt="" class="cross left">
				 </div>
				 <div class="question-wrapper">
					 <div class="question" id="question2"></div>
					 <div class="input-box" id="input-box2"></div>
					 <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt=""class="tick left">
					 <img src="https://cdn.pixabay.com/photo/2013/07/12/12/40/abort-146096_960_720.png" alt=""class="cross left">
				 </div>
				 <div class="question-wrapper">
					 <div class="question" id="question3"></div>
					 <div class="input-box" id="input-box3"></div>
					 <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt="" class="tick left">
					 <img src="https://cdn.pixabay.com/photo/2013/07/12/12/40/abort-146096_960_720.png" alt="" class="cross left">
				 </div>
				 </div>
				 
				 <div class="question-cont-section2">
					 <div class="question-wrapper">
					 <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt="" class="tick tick-right">
					 <img src="https://cdn.pixabay.com/photo/2013/07/12/12/40/abort-146096_960_720.png" alt="" class="cross cross-right">
					 <div class="input-box" id="input-box4"></div>
					 <div class="question" id="question4"></div>
				 </div>
				 <div class="question-wrapper">
					 <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt="" class="tick tick-right">
					 <img src="https://cdn.pixabay.com/photo/2013/07/12/12/40/abort-146096_960_720.png" alt="" class="cross cross-right">
					 <div class="input-box" id="input-box5"></div>
					 <div class="question" id="question5"></div>
				 </div>
				 <div class="question-wrapper">
					 <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt="" class="tick tick-right">
					 <img src="https://cdn.pixabay.com/photo/2013/07/12/12/40/abort-146096_960_720.png" alt="" class="cross cross-right">
					 <div class="input-box" id="input-box6"></div>
					 <div class="question" id="question6"></div>
				 </div>
				 </div>
			 </div>
			 <div class="answer-cont">
				 <div class="answer-wrapper">
					 <div class="answer" id="answer1" draggable="false"></div>
				 </div>
				 <div class="answer-wrapper">
					 <div class="answer" id="answer2" draggable="false"></div>
				 </div>
				 <div class="answer-wrapper">
					 <div class="answer" id="answer3" draggable="false"></div>
				 </div>
				 
				 <div class="answer-wrapper">
					 <div class="answer" id="answer4" draggable="false"></div>
				 </div>
				 <div class="answer-wrapper">
					 <div class="answer" id="answer5" draggable="false"></div>
				 </div>
				 <div class="answer-wrapper">
					 <div class="answer" id="answer6" draggable="false"></div>
				 </div>
			 </div>
		 </div>
		 <div class="controls-cont">
			 <div class="redo">Practise Again</div>
			 <div class="submit">Submit</div>
		 </div>
	 </section>
 </body> 