
<div style="text-align:center">
  <h1>
    Puzzle Test
  </h1>
  <p>Find out which is the most poor country in the world by solving the puzzle below.</p>
 </div>


<button class="color" style="background-color: #3f51b5;" mat-button (click)='onStart()'>Start game</button>

<div class='container'>

  <div *ngIf='win '>
    Congratulations, you solved the puzzle in a total of {{count}} moves. You have a discount of 20% and the opportunity to fight the poverty in third world countries!
  </div>

  <div class="grid">
    <div class="row" *ngFor='let i of [0,1,2]'>

      <div class="col droppable" *ngFor='let j of [0,1,2]' id='{{i * 3 + j}}' >
        <img class='image draggable ' src='assets/images/{{images[i * 3 + j].image}}' id='{{images[i * 3 + j].id}}' />
      </div>

    </div>

  </div>

  <div class="text">Total moves {{count}}</div>
  <br>
  <br>
  <br>


  <footer class="text-center size">
    <h3 class="text-center"></h3>
    <p><span class="glyphicon glyphicon-map-marker"></span>Copenhagen, DK</p>
    <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
    <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
  </footer>

  <style>
    .text-center {
        font-size: large;
      }
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #3f51b5;
        padding: 25px;




      }
      .size {
        font-size: large;
        color: white;
      }
      h3 {
        font-size: large;
        margin-top: 20px;
      }
      .grid {
        margin-left:335px;
      }
      .text {
        margin-left:335px;
      }
  </style>

