

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .text-center {
      font-size: large;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #3f51b5;
      padding: 25px;
    }
    .size {
      font-size: large;
    }
    h3 {
      font-size: large;
      margin-top: 20px;
    }

    .name {
      position: relative;
    }


  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      height: 600px;
      margin: auto;
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%);
  }
  .color {
    color: white;
  }



  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  </style>

<body>



  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/child.jpg" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/child2.jpg" alt="Chicago">
      </div>

      <div class="carousel-item">
        <img src="/assets/img/child4.jpg" alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

<style>
  .button {
    background-color: #3f51b5;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
  }
  </style>





<div class="container text-center">
  <div class="size">
  <h3>About Us</h3>
  <p><em>We fight poverty!</em></p>
  <p>According to the World Bank, the International Poverty Line refers to those who have less than 1.25 US dollars a day to live, and thus live on the very edge of existence. The United Nations Development Program (UNDP) sets various indicators in its Human Development Index (HDI) to measure poverty in Africa and all other countries in the world. This includes - life expectancy at birth, average school attendance period , expected school attendance period as well and per capita income.

    As the indicators show, education is closely linked to poverty by the United Nations - because those who can not read and write have little chance of getting a skilled job and build their livelihood.
    <br>
    In the annual report on human development published by the United Nations (UN), the African countries of Malawi, Liberia, Burundi, Eritrea, Chad, Sierra Leone , The Democratic Republic of Congo and Niger are regularly in last place - this has not changed until 2014.</p>
  <br>
  <br>
  Books4Charity is a 3 man organisation whose goal is to fight poverty, as well as reward those kind enough to join the cause. We're offering a wide selection of second hand books, in a convenient and simple to use display. The profits from all of the book sales will then be donated towards communities in need, in order to help them in whichever way we can.
<br>
<br>We're also offering a discount for everyone that's can succesfully pass our fun educational quiz that will test out your knowledge about the poverty in 3rd world countries! Quizes aren't your thing? Don't worry, we also have a puzzle that gives you the same reward!


  <br>
  <br>
  <br>
</div>
  <div class="row circles">
    <div class="col-sm-4">
      <p class="text-center"><strong>Koszticsák Bendegúz</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="/assets/img/bendeguz.jpg" class="rounded-circle" alt="Cinque Terre" width="255" height="255">
      </a>

    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Ciprian Rosu</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="/assets/img/andrei.jpg" class="rounded-circle" alt="Random Name" width="255" height="255">
      </a>

    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Antonio Alex</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="/assets/img/antonio.jpg" class="rounded-circle" alt="Random Name" width="255" height="255">
      </a>


      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<footer class="text-center size color">
  <h3 class="text-center"></h3>
  <p><span class="glyphicon glyphicon-map-marker"></span>Copenhagen, DK</p>
  <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
  <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
</footer>

</body>

